*{
    margin: 0;
    padding: 0;
}
body{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        
    }
h1,h2,h3,h4,h5,h6{
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
/* header */
#header {
    background-image: url('images/banner-bg.jpg');
    background-size: cover;
    height: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    overflow-x: hidden;
    position: relative; /* Add this to make it relative for absolute positioning */
  }
  
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .animated-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
 
  .animated-icon1 .long-bar{
    width: 100%;
  }
  
  .animated-icon1 span {
    background: #fff;
  }
  .animated-icon1 span:nth-child(1) {
    top: 0px;
   }
   
   .animated-icon1 span:nth-child(2) {
     top: 10px;
   }
   
   .animated-icon1 span:nth-child(3) {
     top: 20px;
   }
   
   .animated-icon1.open span:nth-child(1) {
     top: 11px;
     -webkit-transform: rotate(135deg);
     width: 100%;
     -moz-transform: rotate(135deg);
     -o-transform: rotate(135deg);
     transform: rotate(135deg);
   }
   .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    width: 100%;
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color:  #0071f8;
    top: -4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }
    @media screen and (max-width: 658px) {
        .navbar{
         padding-top: 5%;
        }
    }
    @media(max-width:992px){
        .navbar-collapse  {
          
          padding: 10px 20px;
          box-shadow: 0 15px 20px 0 rgba(0,0,0,.5);
          position: absolute;
          z-index: 100;
          top: 100%;
          background-color: #fff;
          width: 90%;
        
          border-bottom-left-radius: 10%;
          border-bottom-right-radius: 10%;
         
      }
    }
   
.navbar .nav-item .nav-link {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}


/* .navbar-toggler{
    color: #fff !important;
  }
  .navbar span{
    color: #fff;
  } */
.navbar .navbar-nav .btn{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color: #ee626b;
    color: #fff;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 1148px) {
    header .navbar{
        padding-top: 3%;
    }
}
@media screen and (max-width: 992px) {
    .navbar .navbar-nav .btn{
        border-radius: 0px;
     background-color: white;
     color: #111;
    }
    header .navbar{
        padding-top: 5%;
    }
    .navbar .nav-item .nav-link {
        color: #111
    }
    .nav-item .nav-link {
       margin: 6px;
       border-top: 1px solid #ddd;
       border-radius: 0px 0px 25px 25px;
    }
    .navbar .btn{
        border-top: 1px solid #ddd;
        border-radius: 0px 0px 25px 25px;
    }
        .nav-item .nav-link {
            color: #111;
        }
        .navbar-nav .first-item .nav-link{
          border-top: none ;
        }
        
}
@media screen and (max-width: 992px) {
    .navbar-nav{
        background-color: #fff;
        border-radius: 10px;
        }
    }
.nav-item a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

}
.navbar-toggler{
    margin-right: 10px;
}
.navbar .fa{
    color: #fff;
    border: none;
}
.navbar button{
    border: none;
}


/* main-banner */
.main-banner{
  padding: 10% 0%;
}
.banner-content h6{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top:2%;
}
@media screen and (max-width: 992px) {
    .banner-content h6{
        margin-top:40%;
        text-align: center;
    }
    .banner-content h1{
        text-align: center;
    }
    .banner-content p{
        text-align: center;
    }
}
.banner-content h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    position: relative;
}
.banner-content h1::after{
    background-image: url('images/caption-dec.png');
    position: absolute;
    width: 202px;
    height: 12px;
    content: '';
    left: 135px;
    bottom: -10px;
}
.banner-content p{
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 80px;
}
.search-container {
    position: relative;
  }
  
  /* Style the input field */
  .search-container input {
    padding: 12px ;
    width: 90%;
    border: none;
    border-radius: 30px;
   
  }
  @media screen and (max-width: 767px) {
    .search-container input {
        width: 75%;
        margin-left: -3px;
      }
  }

  .search-container input::placeholder {
    padding-left: 12px;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  
  /* Style the button */
  .search-container button {
    position: absolute;
    right: 7%;
    top: 0;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background-color: #ee626b;
    color: #fff;
    cursor: pointer;
  }
  .search-container button:hover{
    background-color: #008af8;
    transition: 1s ease;
  }
  @media screen and (max-width: 658px) {
    .search-container input {
       margin-left: 2%;
      }
}
 .right-image img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15%;
}
.main-banner .col-lg-4{
 margin-left: 16%;
}
@media screen and (max-width: 992px) {
    .main-banner .col-lg-4{
        margin-left: 3%;
       }
       .right-image img{
        width: 90%;
        border-radius: 30px;
    }
}
.main-banner .right-image{
    position: relative;
}
.main-banner .right-image .price{
    position: absolute;
    right: 22px;
    top: 22px;
    border-radius: 25px;
    background-color: #008af8;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color:#fff;
    padding: 4px 15px;
}
.main-banner .right-image .offer{
    position: absolute;
    left: -25px;
    bottom: 15px;
    border-radius: 50%;
    background-color: #ee626b;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
@media screen and (max-width: 992px) {
    .main-banner .right-image .offer{
        left: -20px;
        bottom: 140px;
  }
  .main-banner.right-image{
    border-radius: 30%;
  }
  .main-banner .right-image .price{ 
    right: 90px;
    top: 52px;
}
}
@media screen and (max-width: 768px) {
    .main-banner .right-image .offer{
        left: 10px;
        bottom: 100px;
  }
  .main-banner .right-image .price{ 
    right: 50px;
    top: 32px;
}
}
/* @media screen and (max-width: 998px) {
    .main-banner .right-image .price{ 
        right: 50px;
        top: 62px;
    }
  } */
@media screen and (max-width: 998px) {
    .right-image img{
       padding-top: 5%;
       padding-bottom: 10%;
    }
  }
/* feature */
.features{
    margin-top: -80px;
    margin-bottom: 90px;
}
.features .image{
width: 90px;
height: 90px;
display: inline-block;
text-align: center;
background-color: #008af8;
border-radius: 50%;
transition: all .3s;
line-height: 90px;
}
.features .image:hover{
    background-color: #ee626b;
}
.features .item {
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}
.features .item h4{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

/* trending section */

.section-2{
    padding-top: 10%;
    padding-bottom: 35%;
}
.section-2 h6{
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-2 h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
    margin-bottom: 10%;
}
.section-2 .col-lg-6 button{
    display: inline-block;
    
    background-color: #ee626b;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
}
@media screen and (max-width: 998px) {
    .section-2 .col-lg-6 button{
        display: none;
    }
  }
.section-2 .item{
    position: relative;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    border-radius: 25px;
    margin-top: 5%;
    
}
.section-2 .item:hover .item-content h4{
    color: #0071f8;
}
.section-2 .item:hover  .item-content a{
    background-color: #0071f8;
}
.section-2 .item img{
    width: 100%;
}
.thumb{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.thumb span{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}

.item .item-content{
    padding: 20px 15px 40px 15px;
}
.item-content h6{
    font-size: 12px;
    font-size: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #7a7a7a;
}
.item-content h4{
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 992px) {
    .section-2 h6,.section-2 h4{
        text-align: center;
    }
    
  }
.item-content .fa{
    display: inline-block;
}
.section-2 .item .item-content a{
   position: absolute;
   bottom: 35px;
   right: 24px;
    background-color: #ee626b;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px 12px;
    border-radius: 50%;
}
@media screen and (max-width: 998px) {
    .section-2 .item .item-content a{
         padding: 6px 12px;
     }
  }
@media screen and (max-width: 998px) {
    .item{
        
        margin-top: 35px;
    }
  }
  
/* top games section */
.section-3{
    padding-top: 10%;
    padding-bottom: 35%;
    background-color: #f7f7f7;
    border-radius: 12%;
}
.section-3 h6{
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 45px;
}
.section-3 h2{
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 23px;
    line-height: 44px;
    margin-bottom: 10%;
}
@media screen and (max-width: 992px) {
    .section-3 h6,.section-3 h2{
        text-align: center;
    }
    
  }
.section-3 .col-lg-6 button{
    display: inline-block;
    
    background-color: #ee626b;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
}
@media screen and (max-width: 998px) {
    .section-3 .col-lg-6 button{
        display: none;
    }
    
  }
  
 
  
  .section-3 .item{
    background-color: #fff;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 10%;
}

.section-3 .item img{
    width: 100%;
}
.section-3 .item-content a{
    position: absolute;
    text-align: center;
    line-height: 20px;
    height: 40px;
    padding: 10px 15px;
    background-color: #ee626b;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    bottom: -20px;
    transform: translateX(-50%);
    bottom: -20px;
    text-decoration: none;
}
.section-3 .item:hover .item-content h4{
    color: #0071f8;
}
.section-3 .item:hover  .item-content a{
    background-color: #0071f8;
}

/* categories section */
.section-4{
    padding-top: 20%;
    padding-bottom: 10%;
}
.section4-heading h6{
    color: #ee626b ;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
.section4-heading h2{
    color: #111;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 8%;
}
.section-4 .item img{
    width: 100%;
}
.section-4 .item {
    background-color: #0071f8;
    position: relative;
    border-radius: 25px;
    text-align: center;

}
.section-4 .item .thumb{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.section-4 .item h6{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    
}

/* section-5 */


.section-5 .container{
    background-image: url('images/top-game-02.jpg');
    background-size: cover;
    height: 550px;
    width: 550px;
}
@media screen and (max-width: 998px) {
    .section-5 .container{
        background-image: none;
        width: auto;
        height: auto;
    }
    }

.section-5 .shop
{
    background-color: #f7f7f7;
    padding: 20px 45px;
    border-radius: 10%;
    margin-top: 30%;
}
.section-5 .newsletter
{
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10%;
    
}
@media screen and (min-width: 998px) {
    .section-5 .shop{
    background-color: #f7f7f7;
    padding: 80px 70px;
    border-radius: 10%;
   position: absolute;
   left: -100%;
   right: 40%;
   margin-top: 25%;
}
.section-5 .newsletter{
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10%;
    position: absolute;
    right: -110%;
    margin-top: 70%;
    margin-left: 40%;
}
}
.shop h6,.newsletter h6{
    color: #ee626b;
    font-size: 15px;
    font-weight: 700;
    
}

.shop h2,.newsletter h2{
    font-size: 30px;
    font-weight: 900;
}
.shop p,.newsletter p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15%;
}
.shop button{
    color: #fff;
    background-color: #ee626b;
    border: none;
    border-radius: 30px;
}
.section-5 .newsletter
{
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10%;
}
@media screen and (max-width: 578px) {
.section-5 .shop {
    padding-left: 28px;
       }
       .section-5 .newsletter{
        margin-left: 0%;
        padding-left: 0%;
       }
    }
.section-5 .search-container button {
    position: absolute;
    right: 5%;
    top: 0;
    padding: 10px 26px;
    border: none;
    border-radius: 30px;
    background-color: #ee626b;
    color: #fff;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    .newsletter .search-container button {
         right: 7px;
         padding: 10px 20px;
         margin-top: 10px;
         margin-bottom: 10px;
         top: -55px;
       }
    }
    @media screen and (min-width: 998px) {
        .newsletter .search-container button {
             right: -10px;
             padding: 10px;
            
           }
        }
 @media screen and (max-width: 768px) {
   .newsletter .search-container button {
        right: 10px;
        padding: 12px 145px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .newsletter .search-container input {
        width: 100%;
      } 
}
@media screen and (max-width: 578px) {
    .newsletter .search-container button {
         padding: 12px 143px;
       }
    }
    @media screen and (max-width: 564px) {
        .newsletter .search-container button {
             padding: 12px 153px;
           }
        }
        @media screen and (max-width: 544px) {
            .newsletter .search-container button {
                 padding: 12px 143px;
               
            }
        }
        @media screen and (max-width: 510px) {
            .newsletter .search-container button {
                 padding: 12px 133px;
               
            }
        }
        @media screen and (max-width: 480px) {
            .newsletter .search-container button {
                 padding: 12px 115px;
               }
            }
            @media screen and (max-width: 444px) {
                .newsletter .search-container button {
                     padding: 12px 93px;
                   }
                }
           
            @media screen and (max-width: 430px) {
                .newsletter .search-container button {
                     padding: 12px 86px;
                   }
                }
                @media screen and (max-width: 420px) {
                    .newsletter .search-container button {
                         padding: 12px 80px;
                       }
                    }
                @media screen and (max-width: 398px) {
                    .newsletter .search-container button {
                         padding: 12px 75px;
                       }
                    }
                    @media screen and (max-width: 380px) {
                        .newsletter .search-container button {
                             padding: 12px 65px;
                           }
                        }
                @media screen and (max-width: 363px) {
                    .newsletter .search-container button {
                         padding: 12px 45px;
                       }
                    }
                    @media screen and (max-width: 360px) {
                        .newsletter .search-container button {
                             padding: 12px 52px;
                           }
                        }
                @media screen and (max-width: 348px) {
                    .newsletter .search-container button {
                         padding: 12px 47px;
                       }
                    }
                    @media screen and (max-width: 343px) {
                        .newsletter .search-container button {
                             padding: 12px 26px;
                           }
                        }
  @media screen and (max-width: 998px) {
    
    .section-5 .newsletter
{
    background-color: #f7f7f7;
    padding: 42px;
    border-radius: 10%;
    margin-top: 20px;
}
.section-5{
    padding-top: 10%;
}

  }


  /* footer */
  footer{
    background-image: url('images/footer-bg.jpg');
    margin-top: 150px;
    background-color: #0071f8;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    border-radius: 150px 150px 0px 0px;
  }
  footer p{
    color: #fff;
  }
  @media screen and (max-width: 558px) {
    
    footer p{
        font-size: 15px;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 40px;
      }
  }


