*{
    margin: 0;
    padding: 0;
}
body{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        
    }
h1,h2,h3,h4,h5,h6{
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
/* header */
#header {
    background-image: url('images/banner-bg.jpg');
    background-size: cover;
    height: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    overflow-x: hidden;
    position: relative; /* Add this to make it relative for absolute positioning */
  }
.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color:  #0071f8;
    top: -4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }
    @media screen and (max-width: 658px) {
        .navbar{
         padding-top: 5%;
        }
    }
   
.nav-item .nav-link {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
   
}

/* .navbar-toggler{
    color: #fff !important;
  }
  .navbar span{
    color: #fff;
  } */
.navbar .navbar-nav .btn{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color: #ee626b;
    color: #fff;
}
@media screen and (max-width: 658px) {
    .navbar .navbar-nav .btn{
        border-radius: 0px;
     background-color: white;
     color: #111;
    }
    .nav-item .nav-link {
       margin: 6px;
    }
    .navbar-nav{
        background-color: #fff;
        border-radius: 10px;
        }
        .nav-item .nav-link {
            color: #111;
        }
}
.nav-item a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

}
.navbar-toggler{
    margin-right: 10px;
}


/* main-banner */
.main-banner{
  padding: 10% 0%;
}
.banner-content h6{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top:2%;
}
@media screen and (max-width: 658px) {
    .banner-content h6{
        margin-top:40%;
        text-align: center;
    }
    .banner-content h1{
        text-align: center;
    }
    .banner-content p{
        text-align: center;
    }
}
.banner-content h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
}
.banner-content p{
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 80px;
}
.search-container {
    position: relative;
  }
  
  /* Style the input field */
  .search-container input {
    padding: 12px ;
    width: 75%;
    border: none;
    border-radius: 30px;
  }
  
  /* Style the button */
  .search-container button {
    position: absolute;
    right: 25%;
    top: 0;
    padding: 12px 26px;
    border: none;
    border-radius: 30px;
    background-color: #ee626b;
    color: #fff;
    cursor: pointer;
  }
  .search-container button:hover{
    background-color: #008af8;
    transition: 1s ease;
  }
  @media screen and (max-width: 658px) {
    .search-container button {
        right: 1px;
      }
      .search-container input {
        width: 100%;
      }
      
}
.main-banner img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15%;
}
.main-banner .col-lg-4{
 margin-left: 16%;
}
@media screen and (max-width: 658px) {
    .main-banner .col-lg-4{
        margin-left: 3%;
       }
       .main-banner img{
        width: 90%;
    }
}
.main-banner .right-image{
    position: relative;
}
.main-banner .right-image .price{
    position: absolute;
    right: 22px;
    top: 22px;
    border-radius: 25px;
    background-color: #008af8;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color:#fff;
    padding: 4px 15px;
}
.main-banner .right-image .offer{
    position: absolute;
    left: -25px;
    bottom: 15px;
    border-radius: 50%;
    background-color: #ee626b;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
@media screen and (max-width: 658px) {
    .main-banner .right-image .offer{
        left: 10px;
        bottom: 100px;
  }
}
@media screen and (max-width: 998px) {
    .right-image img{
       padding-top: 5%;
       padding-bottom: 10%;
    }
  }
/* feature */
.features{
    margin-top: -80px;
    margin-bottom: 90px;
}
.features .image{
width: 90px;
height: 90px;
display: inline-block;
text-align: center;
background-color: #008af8;
border-radius: 50%;
transition: all .3s;
line-height: 90px;
}
.features .image:hover{
    background-color: #ee626b;
}
.features .item {
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}
.features .item h4{
    font-size: 17px;
   
    text-transform: uppercase;
}

/* trending section */

.section-2{
    padding-top: 10%;
    padding-bottom: 10%;
}
.section-2 h6{
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-2 h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
    margin-bottom: 10%;
}
.section-2 .col-lg-6 button{
    display: inline-block;
    
    background-color: #ee626b;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
}
@media screen and (max-width: 998px) {
    .section-2 .col-lg-6 button{
        display: none;
    }
  }
.section-2 .item{
    position: relative;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    border-radius: 25px;
    margin-top: 5%;
    
}
.section-2 .item:hover .item-content h4{
    color: #0071f8;
}
.section-2 .item:hover  .item-content a{
    background-color: #0071f8;
}
.section-2 .item img{
    width: 100%;
}
.thumb{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.thumb span{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}

.item .item-content{
    padding: 20px 15px 40px 15px;
}
.item-content h6{
    font-size: 12px;
    font-size: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #7a7a7a;
}
.item-content h4{
    font-size: 18px;
    font-size: 600;
}
.item-content .fa{
    display: inline-block;
}
.section-2 .item .item-content a{
   position: absolute;
   bottom: 35px;
   right: 24px;
    background-color: #ee626b;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px 12px;
    border-radius: 50%;
}

@media screen and (max-width: 998px) {
    .item{
        
        margin-top: 35px;
    }
  }
/* top games section */
.section-3{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #f7f7f7;
    border-radius: 10%;
}
.section-3 h6{
    color: #7a7a7a;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-3 h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 44px;
    margin-bottom: 10%;
}
.section-3 .col-lg-6 button{
    display: inline-block;
    
    background-color: #ee626b;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
}
@media screen and (max-width: 998px) {
    .section-3 .col-lg-6 button{
        display: none;
    }
    
  }
  @media screen and (max-width: 767px) {
    .section-3 .item-content a{
        margin-bottom: 2%;
      }
    
  }
 
  
  .section-3 .item{
    background-color: #fff;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 10%;
}

.section-3 .item img{
    width: 100%;
}
.section-3 .item-content a{
    position: absolute;
    text-align: center;
    line-height: 20px;
    height: 40px;
    padding: 10px 15px;
    background-color: #ee626b;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    bottom: -20px;
    transform: translateX(-50%);
    bottom: -20px;
    text-decoration: none;
}
.section-3 .item:hover .item-content h4{
    color: #0071f8;
}
.section-3 .item:hover  .item-content a{
    background-color: #0071f8;
}

/* categories section */
.section-4{
    padding-top: 10%;
    padding-bottom: 10%;
}
.section4-heading h6{
    color: #ee626b ;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
.section4-heading h2{
    color: #111;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5%;
}
.section-4 .item img{
    width: 100%;
}
.section-4 .item {
    background-color: #0071f8;
    position: relative;
    border-radius: 25px;
    text-align: center;

}
.section-4 .item .thumb{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.section-4 .item h6{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    
}

/* section-5 */
.section-5{
   
    padding-bottom: 5%;
}
.section-5 .container{
    background-image: url('images/top-game-02.jpg');
    background-size: cover;
    height: 550px;
    width: 550px;
}
@media screen and (max-width: 998px) {
    .section-5 .container{
        background-image: none;
        width: auto;
        height: auto;
    }
    }

.section-5 .shop
{
    background-color: #f7f7f7;
    padding: 20px 50px;
    border-radius: 10%;
}
.section-5 .newsletter
{
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10%;
    
}
@media screen and (min-width: 998px) {
    .section-5 .shop{
    background-color: #f7f7f7;
    padding: 80px 70px;
    border-radius: 10%;
   position: absolute;
   left: -100%;
   right: 40%;
   margin-top: 25%;
}
.section-5 .newsletter{
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10%;
    position: absolute;
    right: -110%;
    margin-top: 70%;
    margin-left: 40%;
}
}
.shop h6,.newsletter h6{
    color: #ee626b;
    font-size: 15px;
    font-weight: 700;
    
}

.shop h2,.newsletter h2{
    font-size: 25px;
    font-weight: 800;
}
.shop p,.newsletter p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15%;
}
.shop button{
    color: #fff;
    background-color: #ee626b;
    border: none;
    border-radius: 30px;
}
.section-5 .newsletter
{
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10%;

}
.section-5 .search-container button {
    position: absolute;
    right: 5%;
    top: 0;
    padding: 10px 26px;
    border: none;
    border-radius: 30px;
    background-color: #ee626b;
    color: #fff;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    .newsletter .search-container button {
         right: 7px;
         padding: 10px 20px;
         margin-top: 10px;
         margin-bottom: 10px;
         top: -55px;
       }
    }
    @media screen and (min-width: 998px) {
        .newsletter .search-container button {
             right: -10px;
             padding: 10px;
            
           }
        }
 @media screen and (max-width: 658px) {
   .newsletter .search-container button {
        right: 7px;
        padding: 10px 48px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .newsletter .search-container input {
        width: 100%;
      }
     
      
}

  @media screen and (max-width: 998px) {
    
    .section-5 .newsletter
{
    background-color: #f7f7f7;
    padding: 60px;
    border-radius: 10%;
    margin-top: 20px;
}
.section-5{
    padding-top: 10%;
}

  }


  /* footer */
  footer{
    background-image: url('images/footer-bg.jpg');
    margin-top: 150px;
    background-color: #0071f8;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    border-radius: 150px 150px 0px 0px;
  }
  footer p{
    color: #fff;
  }
  @media screen and (max-width: 558px) {
    
    footer p{
        font-size: 15px;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 40px;
      }
  }


